      <% @user.each do |user| %>
        <div>
          <h2>User info</h2>
          <%= image_tag user.get_profile_image(100,100) %>
          <table class="mb-5 border-top">
            <tr class="border-bottom">
              <th class="p-2">name</th>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <th class="p-2">introduction</th>
              <td><%= user.introduction %></td>
            </tr>
          </table>
            <%= link_to edit_user_path(user), class: "btn btn-block border border-dark btn-outline-secondary" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>