<% flash.each do |message_type, message| %>
  <% content_tag :div, message, class: message_type %>
<% end %>
  <div class="container">
    <div class="mx-auto p-3" style="width: 570px;">
      <h1 class=>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
      <p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="mr-4 ml-4 text-center">
        <a button type="button" class="btn btn-info btn-block" href="/users/sign_in">Log in</a><br>
        <a button type="button" class="btn btn-success btn-block" href="/users/sign_up">Sign up</a>
      </div>
    </div>
  </div>
